# STRING

In [ ]:
s="INDIA"
print(s[::])
print(s[::-1])
print(s[2])
print(s[1:5])
print(s[0:5:2])

INDIA
AIDNI
D
NDIA
IDA

In [ ]:
#concatination
a="I love python "
b=" as well as java"
print(a+b)

I love python  as well as java

In [ ]:
#in operator
print("love" in a)

True

In [ ]:
print(a*2)

I love python I love python

In [ ]:
a=" IIT-BOMBAY"
print(4*a)

 IIT-BOMBAY IIT-BOMBAY IIT-BOMBAY IIT-BOMBAY

In [ ]:
a="a"
A="A"
print(a>=A)

True

In [ ]:
a="abcd".upper()
A="ABCD"
print(A==a)
print(a)

True
ABCD

In [ ]:
a="abcd"
A="ABCD".lower()
print(A==a)

True

In [ ]:
a=input("Enter a string: ").lower()
print("you entered: ",a)
if a=='s':
  print("hello!")

Enter a string: S
you entered:  s
hello!

In [ ]:
s="c c++ java python R"
s.split()

['c', 'c++', 'java', 'python', 'R']

In [ ]:
email=input("Enter your email address: ")
email.split('@')

Enter your email address: ridhimaa@gmail.com

['ridhimaa', 'gmail.com']

In [ ]:
#bool isalnum() to check if string have alphabets and numeric values.
a="Ridhimaa25"
a.isalnum()

True

In [ ]:
#bool isalpha() to check if string have alphabets.
a="23"
print(a.isalpha())
#bool isdigit() to check if string have alphabets.
print(a.isdigit())

False
True

In [ ]:
#islower()
a="RIDHIMAA"
print(a.islower())
print(a.isupper())
b="    "
print(a.isspace())
print(b.isspace())

False
True
False
True

In [ ]:
a="ridhimaa"
a.capitalize()

'Ridhimaa'

In [ ]:
a="RIdhimaa"
a.swapcase()

'riDHIMAA'

In [ ]:
s="hello!!"
s=s.rstrip('!')
print(s)

hello

In [ ]:
s="hello!!"
s=s.lstrip('h')
print(s)

ello!!

In [ ]:
s=" hello!!"
s=s.strip()
print(s)

hello!!

In [ ]:
a="Janhvi"
# b=a.center(50)
# print(b[0:25])
print(a.center(50))
print(a.ljust(50))
print(a.rjust(50))

                      Janhvi
Janhvi
                                            Janhvi

In [ ]:
word = input('Please enter a string: ')
lower = 0
upper = 0
for s in word:
  if s.islower():
    lower += 1
  if s.isupper():
    upper += 1
print(word,'contains',upper ,'upper case letters and', lower,  'lower case letters')

# Fabonnaci Series

In [ ]:
num = int(input("Enter a number: "))
n1,n2=0,1 #n1=0   #n2=1                   #0 1 1 2 3 5
sum=0
if num<0:
  print("Enter positive number")
else:
  for i in range(0,num):
    print(sum,end=' ')
    n1=n2  #n1=1
    n2=sum #n2=1
    sum=n1+n2 #1

Enter a number: 5
0 1 1 2 3

In [ ]:
import math
print(math.pi)

3.141592653589793

# Prime number

In [ ]:
n=int(input("Enter a number: "))
for i in range(2,n):
  if n%i==0:
    print("It's not a prime number")
    break
else:
  print("It's a prime number!")

Enter a number: 3
It's a prime number!

In [ ]:
num = int(input("Enter a number: "))
flag = False

if num == 1:
    print(num, "is not a prime number")
elif num > 1:
    for i in range(2, num):
        if (num % i) == 0:
            flag = True
            break
    if flag==True:
        print(num, "is not a prime number")
    else:
        print(num, "is a prime number")

Enter a number: 19
19 is a prime number

In [ ]:
def find_max(m):
  a= max(m)
  return a
l=[2,8,6,5]
a=find_max(l)
print(a)

8

In [ ]:
# def f():
#   num = int(input("Enter a number: "))
#   n1,n2=0,1 #n1=0   #n2=1                   #0 1 1 2 3 5
#   sum=0
#   if num<0:
#     print("Enter positive number")
#   else:
#     for i in range(0,num):
#       print(sum,end=' ')
#       n1=n2  #n1=1
#       n2=sum #n2=1
#       sum=n1+n2 #1
# f()

In [ ]:
def fac(a1=5):  #a1=5 is default value, it'll only work if we have not proive a argument to a function while calling.
  n1,n2=0,1 #n1=0   #n2=1                   #0 1 1 2 3 5
  sum=0
  if a1<0:
    print("Enter positive number")
  else:
    for i in range(0,a1):
      print(sum,end=' ')
      n1=n2  #n1=1
      n2=sum #n2=1
      sum=n1+n2 #1

def max1(n=10): #n=10 is default value, it'll only work if we have not proive a argument to a function while calling.
  n+=1
  return n

a1 = int(input("Enter a number: "))

fac(a1)
max1(a1)

Enter a number: 6
0 1 1 2 3 5

7

In [ ]:
def student(date,month,year,name="None",age=15):
  print("Student name is: ", name)
  print("Student age: ", age)
  print("Date of birth is: ", date," ", month," ",year)

name1=input("Enter student name: ")
a=int(input("Enter age: "))
d=int(input("Enter date of your birth: "))
m=input("Enter month: ")
y=int(input("Enter year: "))
student(d,m,y,name1,a)

Enter student name: Shashank Dhiman
Enter age: 20
Enter date of your birth: 26
Enter month: october
Enter year: 2003
Student name is:  Shashank Dhiman
Student age:  20
Date of birth is:  26   october   2003

In [ ]:
a=str("ruydu")
print(a)

ruydu

# List

In [ ]:
a=[1,34]
print(a)
a1=list([1,3,56])
print(a1)

[1, 34]
[1, 3, 56]

In [ ]:
a=list()
b=[]
print(type(a))
print(type(b))

<class 'list'>
<class 'list'>

In [ ]:
fruits=["apple","orange","banana"]
fruit="apple"
print(fruits[0:3:3])
print(fruit[0])

['apple']
a

In [ ]:
print(fruits[::-1])
print(fruits[-2])

['banana', 'orange', 'apple']
orange

In [ ]:
l1=[1,2,3,4,3]
l2=[4,5,6]
a=l1+l2
print(a)
print(type(a))

[1, 2, 3, 4, 3, 4, 5, 6]
<class 'list'>

In [ ]:
dir(list)

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [ ]:
a=[1,2,3]
a*=3 #a=a*3 #changing value permanetly
print(a)

[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [ ]:
print(a)

[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [ ]:
l1=[1,2,3,4]
print(1 in l1)
print(1 not in l1)
# if 5 in l1:
#   print("present")
# else:
#   print("Absent")

True
False

In [ ]:
l2=[1,2]
l3=[1,2,3,4]
print(l1 is l2)
print(l1 is l3)
print(id(l1))
print(id(l2))

False
False
133042812544128
133042985938048

In [ ]:
l3.pop()
print(l3)

[1, 2, 3]

In [ ]:
List1=[10,20,30,40,50]
List1=[x+10 for x in List1]
List1

[20, 30, 40, 50, 60]

In [ ]:
l=[1,2,3,4,5]
print(l)
l2=[x for x in l if x%2==1]
print(l2)

[1, 2, 3, 4, 5]
[1, 3, 5]

In [ ]:
#string splitting
L1 = "Welcome to Python Programming"
a=str(L1.split())
print(a)
print(type(a))
s="ridhim@gmail.com"
print(s.split('@'))
print(type(s))

['Welcome', 'to', 'Python', 'Programming']
<class 'str'>
['ridhim', 'gmail.com']
<class 'str'>

In [ ]:
def Print_Contents_List(L):
    for x in L:
        print(x, end=' ')
L1 = [10,20,30,40,50]
Print_Contents_List(L1)

10
20
30
40
50

In [ ]:
a=[]
b=12
a.append(b)
print(a)

[12]

In [ ]:
a=[1,2,3]
b=int(input("Enter a number: "))
a.append(b)
print("Value of a: ",a)
print("Value of b: ",b)

Enter a number: 4
Value of a:  [1, 2, 3, 4]
Value of b:  4

In [ ]:
a=[]
b=int(input("How many numbers you want to append: "))
for i in range(0,b):
  c=int(input("Enter a value: "))
  a.append(c)
print("Value of a: ",a)
print("Value of b: ",b)
print("Value of c: ",c)

How many numbers you want to append: 2
Enter a value: 1
Enter a value: 6
Value of a:  [1, 6]
Value of b:  2
Value of c:  6

In [ ]:
a.clear()
print(a)

[]

In [ ]:
a=[1,2,2,5,2,6,"r","j","sh","sh"]
print(a.count("sh"))

2

In [ ]:
b=a.copy()
print(b)

[1, 2, 2, 5, 2, 6, 'r', 'j', 'sh', 'sh']

In [ ]:
a.insert(0,"ridhimaa")
a

['ridhimaa', 1, 'ridhimaa', 0, 2, 2, 5, 2, 6, 'r', 'j', 'sh', 'sh']

In [ ]:
a=[]
b=int(input("How many idems you want to append?: "))
for i in range(0,b):
  c=int(input("Enter a value: "))
  a.append(c)
print("Value of a: ",a)
x=input("Do you want to modify the value: ")
if x=="yes":
  position=int(input("Enter a postion where you want to enter the element: "))
  element=int(input("Enter element you want to enter: "))
  a.insert(position-1,element)
  print(a)
else:
  print("Exit...")

How many idems you want to append?: 3
Enter a value: 1
Enter a value: 3
Enter a value: 4
Value of a:  [1, 3, 4]
Do you want to modify the value: yes
Enter a postion where you want to enter the element: 2
Enter element you want to enter: 2
[1, 2, 3, 4]

In [ ]:
l1=[1,6,2,9,3,0]
l1.sort()
print(l1)

[0, 1, 2, 3, 6, 9]

In [ ]:
l3=["r","y"]
l1.extend(l3)
print(l1)

[0, 1, 2, 3, 6, 9, 1, 6, 2, 9, 3, 0, 'r', 'y']

In [ ]:
x1=int(input("Enter how many occurence you want to check for?: "))
x2=int(input("What you want to find: "))
def ouccurance(l1):
  for i in range(0,x1):
    val=l1.index(x2,i)
    print(val)
ouccurance(l1)
# l1.index(0,2)0

Enter how many occurence you want to check for?: 3
What you want to find: 0
0
11
11

In [ ]:
l1.index(0,2)

11

In [ ]:
l2=[4,4,5,6,4,7,4]
x1=int(input("Enter how many occurence you want to check for?: "))
x2=int(input("What you want to find: "))
x3=len(l2)
for i in range(0,x3):
  val=l2.index(x2,i)
  print(val)

Enter how many occurence you want to check for?: 4
What you want to find: 4
0
1
4
4
4
6
6

In [ ]:
l2.pop()

4

In [ ]:
print(l2)

[4, 4, 5, 6, 4, 7]

In [ ]:
l2.remove(4)
print(l2)

[4, 5, 6, 4, 7]

In [ ]:
print(l2)

[4, 5, 6, 4, 7]

In [ ]:
l2.reverse()
print(l2)

[7, 4, 6, 5, 4]

In [ ]:
print(l2)

[7, 4, 6, 5, 4]

In [ ]:
l2[0]="r"
print(l2)

['r', 4, 6, 5, 4]

In [ ]:
a=["I love india"]
a[0]="you"
print(a)

['you']

In [ ]:
a=["I","love","india"]
a[2]="Choclates"
print(a)

['I', 'love', 'Choclates']

In [ ]:
def password():
  correct='abc123'

  while True:
    p=input("Enter password: ")

    if p==correct:
      print("LogIn")
      break
    else:
      print("Incorrect password")

password()

Enter password: y
Incorrect password
Enter password: y
Incorrect password
Enter password: pass
Incorrect password
Enter password: abc123
LogIn

In [ ]:
# Create a nested list containing fruits and their respective prices
nested_list = [["apple", "banana", "orange"], [1.5, 2.0, 1.8]]

# Access the price of a specific fruit
fruit_index = nested_list[0].index("banana")  # Get the index of "banana" in the fruits list
price = nested_list[1][fruit_index]  # Access the price using the index
print(f"The price of a banana is ${price}")

# Modify the nested list to add a new fruit and its price
new_fruit = "grape"
new_price = 2.5

nested_list[0].append(new_fruit)  # Add the new fruit to the fruits list
nested_list[1].append(new_price)  # Add the new price to the prices list

print("Updated nested list:")
print(nested_list)

The price of a banana is $2.0
Updated nested list:
[['apple', 'banana', 'orange', 'grape'], [1.5, 2.0, 1.8, 2.5]]

In [ ]:
fruits=[["apple","banana","kiwi"],[1.5,2,3]]
# fruits.index("banana")
fruit= fruits[0].index("kiwi")
price = fruits[1][fruit]
print(price)

3

In [ ]:
a=10
print(f"Value of a is {a}")

Value of a is 10

# Tuple

In [ ]:
thistuple = ("apple","banana","cherry","apple","cherry")
print(thistuple)

('apple', 'banana', 'cherry', 'apple', 'cherry')

In [ ]:
tuple_1 = str("apple")
type(tuple_1)

str

In [ ]:
a=tuple((1,2))#tuple((........))    #list([1,23,4])
type(a)

tuple

In [ ]:
thistuple = ("apple","banana","cherry","apple","cherry")
thistuple[-4:-1] #-4+1=-3 #-3+1=-2 end(#-2+1=-1)

('banana', 'cherry', 'apple')

In [ ]:
thistuple[-1:-4:-1]      #-1+1=0  #-1-1=-2 #-2-1=-3 #-3-1=-4

('cherry', 'apple', 'cherry')

In [ ]:
a=input("Enter string: ")
if a in thistuple:
  print("present")
else:
  print("Absent")

Enter string: b
Absent

In [ ]:
a=(1,2,3)
b=list(a) #convert tuple into list, and assign in variable b
b[0]=10 #modify/change the value or assign new valude
b=tuple(b) #change the data type again, into tuple
a=tuple(b) #change the data type again, into tuple
print(a)
print(b)

(10, 2, 3)
(10, 2, 3)

In [ ]:
a=(10,2,3)
print("Befor addition of elements: ",a)
a=list(a)
a.append(4)
a=tuple(a)
print(a)

Befor addition of elements:  (10, 2, 3)
(10, 2, 3, 4)

In [ ]:
#add tuple to tuple
tuple_1=("apple","kiwi")
y=("orange",)
tuple_1 += y
print(tuple_1)

('apple', 'kiwi', 'orange')

In [ ]:
'''Remove the value from tuple'''
tuple_1=("apple","kiwi") #define a tuple
tuple_1=list(tuple_1) #convert tuple into list so we remove the values.
tuple_1.remove("apple") #remove value from string
tuple_1=tuple(tuple_1) #convets again into tuple
print(tuple_1)

('kiwi',)

In [ ]:
a=(1,2,3)
del a

In [ ]:
print(a)

NameError: name 'a' is not defined

In [ ]:
# packing a tuple
#Unpacking a tuple

In [ ]:
a=("apple","kiwi","orange")
(red,brown,orange)= a
print(red)
print(brown)
print(orange)

apple
kiwi
orange

In [ ]:
#Unpacking Using Asterisk *
'''If the number of variables are less than number of values, you can add an * to variable name
and value will be assigned to variable as list'''
a=("red","blue","white","black","brown")
(a1,*c)=a
print(a1)
print(c)

red
['blue', 'white', 'black', 'brown']

In [ ]:
a=("red","blue","white","black","brown")
(a1,*c,d)=a
print(a1)
print(c)
print(d)

red
['blue', 'white', 'black']
brown

In [ ]:
#loop tuples
a=("red","blue","white","black","brown")
for x in a:
  print(x)

red
blue
white
black
brown

In [ ]:
#use range() and len() as once
a=("red","blue","white","black","brown")
for i in range(len(a)): #0-4
  print(a[i])

red
blue
white
black
brown

In [ ]:
'''Use While loop for the same'''
a=("red","blue","white","black","brown")
i=0
while i<len(a):
  print(a[i])
  i +=1

red
blue
white
black
brown

In [ ]:
#Join tuple
a=("a","b")
b=(1,2,3)
c=a+b
print(c)

('a', 'b', 1, 2, 3)

In [ ]:
#Multiply tuples
a=("a","b")
(_1,_a2)=a
print(_1)

a

In [ ]:
#count a single item in a tuple
a=(1,3,2,3,3,3)
a.count(3)

4

In [ ]:
print(a)
print(a.index(3,1))

(1, 3, 2, 3, 3, 3)
1

In [ ]:
t1=(1,2,3)
t2=("python","programming")
t3=(t1,t2)
print(t3)
print(t3[0][1])
print(t3[1])
print(t3[1][0])

((1, 2, 3), ('python', 'programming'))
2
('python', 'programming')
python

# *Set*

In [ ]:
# 1. Sets are unordered
# 2. Doesn't print duplicate values
# 3. True/1 have same meaning, False/0 have same meaning

In [ ]:
set1= {"apple","apple","banana","kiwi",1,2,"orange"}
print(set1)

{1, 2, 'apple', 'orange', 'kiwi', 'banana'}

In [ ]:
set1= {True,"apple","apple","banana","kiwi",1,2,0,"orange",False}
print(set1)

{0, True, 2, 'apple', 'orange', 'kiwi', 'banana'}

In [ ]:
#find len of set
len(set1)

7

In [ ]:
print(type(set1))

<class 'set'>

In [ ]:
s1={"ahgy","hy"}
s2={1,2,3}
s3={True,False}
s4={"Shashank",True,85}

In [ ]:
a=set((1,2,3))
print(a)
print(type(a))

{1, 2, 3}
<class 'set'>

In [ ]:
print(s4)
for i in s4:
  print(i)

{True, 'Shashank', 85}
True
Shashank
85

In [ ]:
if "Shashank" in s4:
  print("Present")

Present

In [ ]:
dir(set)

['__and__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__iand__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__isub__',
 '__iter__',
 '__ixor__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__rand__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__ror__',
 '__rsub__',
 '__rxor__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__xor__',
 'add',
 'clear',
 'copy',
 'difference',
 'difference_update',
 'discard',
 'intersection',
 'intersection_update',
 'isdisjoint',
 'issubset',
 'issuperset',
 'pop',
 'remove',
 'symmetric_difference',
 'symmetric_difference_update',
 'union',
 'update']

# Add items in a set

In [ ]:
#add() to add item to a set
a={"apple","kiwi","cherry"}
a.add("orange")
a.add(1)
print(a)

{1, 'apple', 'kiwi', 'orange', 'cherry'}

In [ ]:
#update() set1 with set2 or other
b={1,2,3}
a.update(b)
print(a)

{1, 2, 3, 'apple', 'kiwi', 'orange', 'cherry'}

In [ ]:
# We can use sequence of different data type
a
list1=[6,7,8]
a.update(list1)
print(a)
print(type(a))

{1, 2, 3, 'apple', 6, 7, 8, 'kiwi', 'orange', 'cherry'}
<class 'set'>

In [ ]:
# to remove items we can use remove() or discard()
# remove() gives error if element is absent and discard doesn't give error
a.remove("kiwi")
print(a)

{1, 2, 3, 'apple', 6, 7, 8, 'cherry'}

In [ ]:
a.discard(1)
print(a)

{2, 3, 'apple', 6, 7, 8, 'cherry'}

In [ ]:
a={1,2,3,4,5,6}
a.pop()
a

{2, 3, 4, 5, 6}

In [ ]:
#clear() is use to empty the set items
a.clear()
a

set()

In [ ]:
a={1,2,3,5,6}
del a
print(a)

NameError: name 'a' is not defined

In [ ]:
set1={"apple", "kiwi","orange"}
for i in set1:
  print(i, end=' ')

kiwi orange apple

In [ ]:
set1={"apple", "kiwi","orange"}
for i in set1:
  print(f"Current value of set is: {i}")

Current value of set is: kiwi
Current value of set is: orange
Current value of set is: apple

# join set

In [ ]:
#union of set = Combining 2 sets or more. function used set_1.union(set_2,set_3,...) or use |
a={"a","b","c"}
b={"a",1,2,3}
c=a.union(b)
print(c)

{'c', 2, 3, 'b', 1, 'a'}

In [ ]:
a1={"a","b","c"}
b1={"a",1,2,3}
c1=a | b
print(c1)

{'c', 2, 3, 'b', 1, 'a'}

In [ ]:
a={"a","b","c"}
b={"a",1,2,3}
a1={"apple","banana"}
c=a.union(b,a1)
print(c)

{'c', 2, 3, 'b', 1, 'banana', 'apple', 'a'}

In [ ]:
a={"a","b","c"}
b=("a",1,2,3)
z= a.union(b)
print(z)

{1, 2, 3, 'c', 'b', 'a'}

In [ ]:
a={"a","b","c"}
b={"a",1,2,3}
a.update(b)
print(a)

{'c', 2, 3, 'b', 1, 'a'}

In [ ]:
#intersection retuns the value that is common in both the sets, for this use intersection() or & operator
# we can not use different sequence data type other than set if we are using & operator.
a={"a","b","c"}
b={"a",1,2,3}
c=a.intersection(b)
print(c)

{'a'}

In [ ]:
a={"a","b","c"}
b={"a",1,2,3}
c=a & b
print(c)

{'a'}

In [ ]:
#intersection_update() will change the original set instead of returning the new one.
a={"a","b","c"}
b={"a",1,2,3}
a.intersection_update(b)
print(a)
print(b)

{'a'}
{'a', 2, 3, 1}

In [ ]:
#set difference use either difference() or - operator, return unique values of a set
set_1 = {"apple","kiwi","orange"}
set_2 = {"google","Adobe","apple"}
set_3 = set_1 - set_2
print(set_3)

{'orange', 'kiwi'}

In [ ]:
set_1 = {"apple","kiwi","orange"}
set_2 = {"google","Adobe","apple"}
set_3 = set_2.difference(set_1)
print(set_3)

{'Adobe', 'google'}

In [ ]:
set_1 = {"apple","kiwi","orange"}
set_2 = {"google","Adobe","apple"}
set_2.difference_update(set_1)
print(set_2)

{'Adobe', 'google'}

In [ ]:
#symmetric_difference() or ^ operator is use to find symmetric difference
#symmetric difference = it'll return the values that are unique and present in a single set
set_1 = {"apple","kiwi","orange"}
set_2 = {"google","Adobe","apple"}
c = set_1.symmetric_difference(set_2)
print(c)

{'Adobe', 'google', 'kiwi', 'orange'}

In [ ]:
set_1 = {"apple","kiwi","orange"}
set_2 = {"google","Adobe","apple"}
c = set_1 ^ set_2
print(c)

{'Adobe', 'google', 'kiwi', 'orange'}

In [ ]:
# symmetric_difference_update() it updates the values of original set
set_1 = {"apple","kiwi","orange"}
set_2 = {"google","Adobe","apple"}
set_1.symmetric_difference_update(set_2)
print(set_1)

{'Adobe', 'google', 'kiwi', 'orange'}

In [ ]:
print(set_2)

{'Adobe', 'google', 'apple'}

# Set Methods

In [ ]:
# isdisjoint() to check, if our set have any same item or not.
a={"a","b","c"}
b={"d","e","f","a"}
x= a.isdisjoint(b)
print(x)

False

In [ ]:
a={"a","b","c"}
b={"d","e","f"}
x= a.isdisjoint(b)
print(x)

True

In [ ]:
a={"a","b","c"}
b={"a","b","c","d","e"}
x= a.issubset(b)
print(x)

True

In [ ]:
a={"a","b","c","z"}
b={"a","b","c","d","e"}
x= a.issubset(b)
print(x)

False

# Lambda Function

In [ ]:
'''
Syntax:
  lambda argument (we can have multiple arguments): expression (1 exp. is allowed)
'''

'\nSyntax:\n  lambda argument: expression\n'

In [ ]:
x = lambda a : a + 10
print(x(5))

15

In [ ]:
x = lambda a,b : a*b
print(x(5,6))

30

In [ ]:
x = lambda a,b : a*b
x1=int(input("Enter first number: "))
x2=int(input("Enter first number: "))
print(x(x1,x2))

Enter first number: 2
Enter first number: 4
8

In [ ]:
def mulp1(n):
  return lambda a: a*n

x = mulp1(2) # defining value of n
print(x(10)) # defining value of a attribute of lambda

20

In [ ]:
def mulp1(n):
  return lambda a: a*n

double = mulp1(2) # defining value of n
triple = mulp1(3)
a=int(input("Enter a number: "))
print("Double is: ",double(a)) # defining value of a attribute of lambda
print("Triple is: ",triple(a)) # defining value of a attribute of lambda

Enter a number: 6
Double is:  12
Triple is:  18

In [ ]:
a=0
b=10
c= a & b
print(c)
print(bin(a)) #0000
print(bin(b))
print(bin(c))

0
0b0
0b1010
0b0

In [ ]:
def prime(number):
    for num in range(1,number):
        if num > 1:
            for i in range (2, num):
                if (num%i == 0):
                    return("not a prime")
            else:
                return(num)

print(prime(9))

2

In [ ]:
st=input("Enter a string: ")
r=st[::-1]
if st==r:
  print("String is palindrome")
else:
  print("String is not palindrome")

Enter a string: mam
String is palindrome

In [ ]:
a=["Hello","python"]
c= " ".join(a)
print(c)

Hello python

In [ ]:
m=" Hello world! "
c=m.strip()
print(c)

Hello world!

# Dictionary

In [ ]:
#It is a key or value pair

In [ ]:
thisdict = {
    "brand":"Ford",
    "model": "Mustang",
    "year": 1966
}
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1966}

In [ ]:
print(thisdict["brand"])

Ford

In [ ]:
x=thisdict["model"]
print(x)

Mustang

In [ ]:
x = thisdict.get("model")
y = thisdict.get("brand")
z = thisdict.get("year")
print(x)
print(y)
print(z)

Mustang
Ford
1966

In [ ]:
x = thisdict.keys()
x

dict_keys(['brand', 'model', 'year'])

In [ ]:
thisdict = {
    "brand":"Ford",
    "model": "Mustang",
    "year": 1966
}
x = thisdict.keys()
print(x)

thisdict['color'] = "Black"
print(x)
print(thisdict)

dict_keys(['brand', 'model', 'year'])
dict_keys(['brand', 'model', 'year', 'color'])
{'brand': 'Ford', 'model': 'Mustang', 'year': 1966, 'color': 'Black'}

In [ ]:
if "model" in thisdict:
  print("Yes, we have this key")

Yes, we have this key

In [ ]:
#Changing values
thisdict = {
    "brand":"Ford",
    "model": "Mustang",
    "year": 1966
}
thisdict['year']=2023
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 2023}

In [ ]:
thisdict = {
    "brand":"Ford",
    "model": "Mustang",
    "year": 1966
}
thisdict.update({'y':2020})
thisdict.update({'year':2020})
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 2020, 'y': 2020}

In [ ]:
thisdict = {
    "brand":"Ford",
    "model": "Mustang",
    "year": 1966
}
thisdict['y']=2023
thisdict['year']=2023
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 2023, 'y': 2023}

In [ ]:
dir(dict)

['__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__ror__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']

In [ ]:
a={"name":"Ridhimaa","branch":"CSE"}
a.pop("branch")
a

{'name': 'Ridhimaa'}

In [ ]:
a={"name":"Ridhimaa","branch":"CSE"}
del a['name']
a

{'branch': 'CSE'}

In [ ]:
a={"name":"Ridhimaa","branch":"CSE"}
del a
print(a)

NameError: name 'a' is not defined

In [ ]:
a={"name":"Ridhimaa","branch":"CSE"}
a.clear()
print(a)

{}

In [ ]:
a={"name":"Ridhimaa","branch":"CSE"}
for i in a.values():
  print(i)

Ridhimaa
CSE

In [ ]:
a={"name":"Ridhimaa","branch":"CSE"}
for i in a.keys():
  print(i)

name
branch

In [ ]:
a={"name":"Ridhimaa","branch":"CSE"}
for x,y in a.items():
  print(x,y)

name Ridhimaa
branch CSE

In [ ]:
a={"name":"Ridhimaa","branch":"CSE"}
b=a.copy()
print(id(a)," ",id(b))
print(b)

138084120952256   138084120942400
{'name': 'Ridhimaa', 'branch': 'CSE'}

In [ ]:
a={"name":"Ridhimaa","branch":"CSE"}
b=dict(a)
print(id(a)," ",id(b))

138084120735040   138084561740864

In [ ]:
a={"name":"Ridhimaa","branch":"CSE"}
b=a
a['name']="Sourav"
print(a)
print(b)

{'name': 'Sourav', 'branch': 'CSE'}
{'name': 'Sourav', 'branch': 'CSE'}

In [ ]:
a={"name":"Ridhimaa","branch":"CSE"}
b=a.copy()
a['name']="Sourav"
print(a)
print(b)

{'name': 'Sourav', 'branch': 'CSE'}
{'name': 'Ridhimaa', 'branch': 'CSE'}

In [ ]:
#nested dictionary
myfamily = {
  "child1" : {
    "name" : "Emil",
    "year" : 2004
  },
  "child2" : {
    "name" : "Tobias",
    "year" : 2007
  }
}
print(myfamily)

{'child1': {'name': 'Emil', 'year': 2004}, 'child2': {'name': 'Tobias', 'year': 2007}, 'child3': {'name': 'Linus', 'year': 2011}}

In [ ]:
child1 = {
  "name" : "Emil",
  "year" : 2004
}
child2 = {
  "name" : "Tobias",
  "year" : 2007
}

myfamily = {
  "child1" : child1,
  "child2" : child2,
}
print(myfamily["child2"]["name"])

Tobias

In [ ]:
a={"name":"R","branch":"CSE"}
x=a.setdefault("c","Draco")
print(x)
print(a)

Draco
{'name': 'R', 'branch': 'CSE', 'c': 'Draco'}

In [ ]:
a={"name":"R","branch":"CSE"}
x=a.popitem()
print(x)
print(a)

('branch', 'CSE')
{'name': 'R'}

In [ ]:
x=('key_1',"key_2")
y=0
a=dict.fromkeys(x,y)
print(a)

{'key_1': 0, 'key_2': 0}

In [ ]:
set1={1,2,3,4,5}
set2={4,5,6,7,8}
set3 = set1.symmetric_difference(set2)
print(set3)

{1, 2, 3, 6, 7, 8}

In [ ]:
def get_unique_v(sentence):
  vowels = {'a','e','i','o','u'}
  unique_vowels = set()

  for char in sentence.lower():
    if char in vowels:
      unique_vowels.add(char)

  return unique_vowels

sentence = input("Enter a sentence: ")
u = get_unique_v(sentence)
print("Vowels in sentence are: ",u)

Enter a sentence: I have a friend
Vowels in sentence are:  {'a', 'e', 'i'}

In [ ]:
def remove_dict_pair(key_,dict_):
  if key_ in dict_:
    del dict_[key_]
    print("Pair deleted")

mydict = {'a':1,'b':2,'c':3}
print("Original dictionary: ",mydict)
r = input("Enter key: ")
remove_dict_pair(r,mydict)
print("updated dictionary: ", mydict)

Original dictionary:  {'a': 1, 'b': 2, 'c': 3}
Enter key: b
Pair deleted
updated dictionary:  {'a': 1, 'c': 3}

In [ ]:
a=str(10)
b="janhvi"
print(a)
print(type(a))
print(type(b))
a=[1,2]
a=tuple(a)
print(type(a))

10
<class 'str'>
<class 'str'>
<class 'tuple'>

# Type Casting

In [ ]:
num_string = '12'
num_integer = 23

# explicit type conversion
num_string = int(num_string)

num_sum = num_integer + num_string

print("Sum:",num_sum)
print("Data type of num_sum:",type(num_sum))

Sum: 35
Data type of num_sum: <class 'int'>

In [ ]:
#Implicit: It is automaticaly done by interpreter
#Explicit: Done manually by coder

#int to float
a=5
a=float(a)
print("Updated Value of a: ",a," and updated type of a: ",type(a))

Updated Value of a:  5.0  and updated type of a:  <class 'float'>

In [ ]:
#float to int
a= 5.5
a=int(a)
print("Updated Value of a: ",a," and updated type of a: ",type(a))

Updated Value of a:  5  and updated type of a:  <class 'int'>

In [ ]:
#int to string
a=5
b=10
a=str(a)
print("Updated Value of a: ",a," and updated type of a: ",type(a))

Updated Value of a:  5  and updated type of a:  <class 'str'>

In [ ]:
a=5
b=10
a=str(a)
b=str(b)
print("Updated Value of a: ",a," and updated type of a: ",type(a))
print(a+b)

Updated Value of a:  5  and updated type of a:  <class 'str'>
510

In [ ]:
#convert string to integer
a='5'
b=10
a=int(a)
print("Updated Value of a: ",a," and updated type of a: ",type(a))
print(a+b)

Updated Value of a:  5  and updated type of a:  <class 'int'>
15

In [ ]:
#convert string to float
a='5'
a=float(a)
print("Updated Value of a: ",a," and updated type of a: ",type(a))

Updated Value of a:  5.0  and updated type of a:  <class 'float'>

In [ ]:
#List to tuple and tuple to list
a=[]
a=tuple(a)
print(a,"type: ",type(a))

() type:  <class 'tuple'>

In [ ]:
a=(1,2)
a=list(a)
print(a,"type: ",type(a))

[1, 2] type:  <class 'list'>

In [ ]:
# tuple and list to set conversion
a=()
a=set()
b=[]
b=set()
print("a: ",a,"type: ",type(a))
print("b: :" ,b,"type: ",type(b))

set() type:  <class 'set'>
set() type:  <class 'set'>

In [ ]:
# tuple, list and set to dict conversion
a=()
a=dict()
b=[]
b={}
c=set()
c=dict(c)
print("a: ",a,"type: ",type(a))
print("b: :" ,b,"type: ",type(b))
print("c: :" ,c,"type: ",type(c))

a:  {} type:  <class 'dict'>
b: : {} type:  <class 'dict'>
c: : {} type:  <class 'dict'>

In [ ]:
a=eval("2+3")
print(a)

5

In [ ]:
a=10
x = 'print(a)'
eval(x)

10

In [ ]:
eval("sum([1,2,3])")

6

In [ ]:
a='''
def remove_dict_pair(key_,dict_):
  if key_ in dict_:
    del dict_[key_]
    print("Pair deleted")

mydict = {'a':1,'b':2,'c':3}
print("Original dictionary: ",mydict)
r = input("Enter key: ")
remove_dict_pair(r,mydict)
print("updated dictionary: ", mydict)
'''
exec(a)

Original dictionary:  {'a': 1, 'b': 2, 'c': 3}
Enter key: a
Pair deleted
updated dictionary:  {'b': 2, 'c': 3}

Original dictionary:  {'a': 1, 'b': 2, 'c': 3}