In [ ]:
a=b

NameError: name 'b' is not defined

In [ ]:
try:
  # code block where exception can occur
  a=b
except:
  print("Some problem may have occured!")

Some problem may have occured!

In [ ]:
#every Exception belongs to Exception class

In [ ]:
try:
  # code block where exception can occur
  a=b
except Exception as ex:
  print(ex)

name 'b' is not defined

In [ ]:
try:
  # code block where exception can occur
  a=10/0
except NameError as ex1:
  print("The user have not define the variable.")
except Exception as ex:
  print(ex)

division by zero

In [ ]:
10/0

ZeroDivisionError: division by zero

In [ ]:
try:
  a=int(input("Enter number 1: "))
  b=int(input("Enter number 1: "))
  c= a/b
  d= a*b
  e= a+b
  print(c)
  print(d)
  print(e)
except ZeroDivisionError:
  print("Enter a number greater than 0.")
except Exception as ex:
  print(ex)

Enter number 1: 12
Enter number 1: 0
Enter a number greater than 0.

In [ ]:
try:
  a=int(input("Enter number 1: "))
  b=int(input("Enter number 1: "))
  c= a/b
  d= a*b
  e= a+b
except ZeroDivisionError:
  print("Enter a number greater than 0.")
except Exception as ex:
  print(ex)
else:
  print(c)
  print(d)
  print(e)

Enter number 1: 12
Enter number 1: 0
Enter a number greater than 0.

In [ ]:
try:
  a=int(input("Enter number 1: "))
  b=int(input("Enter number 1: "))
  c= a/b
  d= a*b
  e= a+b
except ZeroDivisionError:
  print("Enter a number greater than 0.")
except Exception as ex:
  print(ex)
else:
  print(c)
  print(d)
  print(e)
finally:
  print("The execution is done")

Enter number 1: 12
Enter number 1: 2
6.0
24
14
The execution is done

In [ ]:
try:
  a=int(input("Enter number 1: "))
  b=int(input("Enter number 1: "))
  c= a/b
  d= a*b
  e= a+b
except ZeroDivisionError:
  print("Enter a number greater than 0.")
except Exception as ex:
  print(ex)
else:
  print(c)
  print(d)
  print(e)
finally:
  print("The execution is done")

Enter number 1: 12
Enter number 1: 4
3.0
48
16
The execution is done

In [ ]:
class Error(Exception):
  pass

class dobException(Error):
  pass

In [ ]:
year = int(input("Enter your year of birth: "))
age = 2024-year
try:
  if age<=30 & age>=20:
    print("You are elligible for the exam")
  else:
    raise dobException
except dobException:
  print("You are not elligible")

Enter your year of birth: 2022
You are not elligible

In [ ]:
letter = "Hey my name is {1} and I am from {0}"
country="India"
name = "Ridhimaa"

print(letter.format(country,name))

Hey my name is Ridhimaa and I am from India

In [ ]:
txt = "For only {price:.3f}"
print(txt.format(price=29.06754545))

For only 29.068

In [ ]:
def addition(n):
	return n + n


numbers = (1, 2, 3, 4)
result = map(addition, numbers)
print(list(result))

[2, 4, 6, 8]

In [ ]:
temp = (1, 2, 3, 4)
result = map(lambda x: x + 2, temp)
print(list(result))

[3, 4, 5, 6]