# Class and objects

In [ ]:
# Creating a class
class Student:
  name="Ridhimaa"

#create an Object
s1 = Student()
print(s1.name)
s2 = Student()
print(s2.name)

Ridhimaa
Ridhimaa

In [ ]:
class Car:
  color="blue"
  brand="mercedes"

car1 = Car()
print("Color is: ", car1.color, " and brand is: ",car1.brand)

Color is:  blue  and brand is:  mercedes

In [ ]:
class Student:

  def __init__(self):
    print("Hello")

s1 = Student()

Hello

In [ ]:
class Student:

  #default constructor
  def __init__(self):
    pass

  name='Ridhimaa'
  def __init__(self):
    print(self)
    print("Adding")
s1 = Student()
print(s1)

<__main__.Student object at 0x7a85dfb538b0>
Adding
<__main__.Student object at 0x7a85dfb538b0>

In [ ]:
class Student:
  #default constructor
  def __init__(self):
    pass

  #Parameterized constructor
  def __init__(self,fullname):
    self.name = fullname
    print("Adding a new student in database..")

s1 = Student("Shashank")
print(s1.name)
s2 = Student("Ridhimaa")
print(s2.name)

Adding a new student in database..
Shashank
Adding a new student in database..
Ridhimaa

In [ ]:
class Student:
  college = "GNDEC" #1 time memory
  name = "anonymous"  #class attr.
  #Parameterized constructor
  def __init__(self,fullname):
    self.name = fullname  #object attr. >(has higher precedance) class attr.
    print("Adding a new student in database..")

s1 = Student("Shashank")
print(s1.name, s1.college)
s2 = Student("Ridhimaa")
print(s2.name, s2.college)
print(Student.college)

Adding a new student in database..
Shashank GNDEC
Adding a new student in database..
Ridhimaa GNDEC
GNDEC

# Methods in class

In [ ]:
class Student:
  def __init__(self,fullname):
    self.name=fullname

  def hello(self):
    print("Hello!")

s1=Student("Ridhimaa")
s1.hello()

Hello!

In [ ]:
class Student:
  college="abc"
  def __init__(self,name,marks):
    self.name = name
    self.marks = marks

  def welcome(self):
    print("Welcome students: ",self.name)

  def get_marks(self):
    return self.marks

s1=Student("Ridhimaa",100)
s1.welcome()
print(s1.get_marks())

Welcome students:  Ridhimaa
100

In [ ]:
class Student:
  @staticmethod #decorator
  def hello():
    print("hello")

s1=Student()
s1.hello()

hello

# Abstraction

In [ ]:
class Car:
  def __init__(self):
    self.acc=False
    self.brk=False
    self.cluth=False

  def start(self):
    self.acc=True
    self.cluth=True
    print("Car started........")

car1= Car()
car1.start()

Car started........

# Encapsulation

In [ ]:
class Account:
  def __init__(self,bal,acc):
    self.balance=bal
    self.account=acc

  def debit(self,amount):
    self.balance-=amount
    print("Rs. ",amount,"was debited")
    print("total balance= ",self.get_bal())

  def credit(self,amount):
    self.balance+=amount
    print("Rs. ",amount,"was credited")
    print("total balance= ",self.get_bal())

  def get_bal(self):
    return self.balance

acc1=Account(10000,123456)
acc1.debit(5000)
acc1.credit(500)

Rs.  5000 was debited
total balance=  5000
Rs.  500 was credited
total balance=  5500

# Del keyword

In [ ]:
class Student:
  def __init__(self,name):
    self.name = name
s1=Student("Ridhimaa")
print(s1)
del s1
# print(s1)
# del s1.name
# print(s1.name)

<__main__.Student object at 0x7999462964a0>

# Private attributes and methods

In [ ]:
class Account:
  def __init__(self, acc_no, acc_pass):
    self.acc_no =acc_no
    self.__acc_pass = acc_pass

  def reset_pass(self):
    print(self.__acc_pass)

acc1= Account(1234,"abc")
print(acc1.acc_no)
# print(acc1.__acc_pass)
acc1.reset_pass()

1234
abc

In [ ]:
class Person:
  __name = "anonymous"

  def __hello(self):
    print("Hello")

  def welcome(self):
    print(self.__name)
    self.__hello()  #we have accessed the private method in an indirect way.
    print("Welcome Student!")

p1 = Person()
p1.welcome()

anonymous
Hello
Welcome Student!

# Interitance

Single Inheritance

In [ ]:
class Car:    #Parent/Base Class
  color="black"
  @staticmethod
  def start():
    print("Car Started..")

  @staticmethod
  def stop():
    print("Car Stopped..")

class ToyotaCar(Car):   #Child/derived class
  def __init__(self,name):
    self.name = name

c1 = ToyotaCar("Fortuner")
print(c1.name)
c1.start()
c1.stop()
print(c1.color)

Fortuner
Car Started..
Car Stopped..
black

Multi-level Inheritance

In [ ]:
class Car:    #Parent/Base Class
  color="black"
  @staticmethod
  def start():
    print("Car Started..")

  @staticmethod
  def stop():
    print("Car Stopped..")

class ToyotaCar(Car):
  def __init__(self, brand):
    self.brand=brand

class Fortuner(ToyotaCar):
  def __init__(self, type):
    self.type = type

car1 = Fortuner("diesel")
car1.start()
print(car1.type)

Car Started..
diesel

In [ ]:
class A:
  VarA="Welcome to class A"

class B:
  VarB="Welcome to class B"

class C(A, B):
  VarC="Welcome to class C"

c1 = C()
print(c1.VarC)
print(c1.VarA)
print(c1.VarB)

Welcome to class C
Welcome to class A
Welcome to class B

In [ ]:
class Shape:
  def area(self):
    pass
  def perimeter(self):
    pass

class Rectangle(Shape):
  def calculate_area(self, l, b):
    return l*b

  def calculate_perimete(self, l, b):
    return 2*(l+b)

class Square(Rectangle):
  def calculate_area(self, s):
    return s**2

  def calculate_perimeter(self, s):
    return 4*s

re = Rectangle()
print("Area of rectangle: ", re.calculate_area(5,4))
print(f"Perimeter of rectangle: {re.calculate_perimete(5,4)}")

sq = Square()
print("Area of Square: ", sq.calculate_area(2))
print(f"Perimeter of Square: {sq.calculate_perimeter(2)}")

Area of rectangle:  20
Perimeter of rectangle: 18
Area of Square:  4
Perimeter of Square: 8

Hierarchical Inheritance

In [ ]:
class A:
  print("This is class A..")

# class B(A):
#   print("This is class B..")

class C(A):
  print("This is class C..")

# class D(A):
#   print("This is class D..")
# b=B()
c= C()
# d=D()

This is class A..
This is class C..

Hybrid Inheritance

In [ ]:
class A:
  def hello(self):
    print("Hello!")

class B(A):
  def bye(self):
    print("Bye..")

class C:
  def welcome(self):
    print("welcome!")

class D(B,C):
  print("Hello! Nice to meet you.")

d=D()
d.hello()
d.bye()
d.welcome()

Hello! Nice to meet you.
Hello!
Bye..
welcome!

Multipath Inheritance

In [ ]:
class A:
  def hello(self):
    print("Hello!")

class B(A):
  def bye(self):
    print("Bye..")

class D(A):
  def welcome(self):
    print("welcome!")

class C(B,D):
  print("Hello! Nice to meet you.")

c=C()
c.hello()
c.bye()
c.welcome()

Hello! Nice to meet you.
Hello!
Bye..
welcome!

# Super Method

In [ ]:
class Car:
  def __init__(self,type):
    self.type = type

  @staticmethod
  def start():
    print("Car started..")

  @staticmethod
  def stop():
    print("Car stoped..")

class ToyotaCar(Car):
  def __init__(self, name,type):
    super().__init__(type)
    self.name=name

car1 = ToyotaCar("Prius","Electric")
print(car1.name)
print(car1.type)

Prius
Electric

In [ ]:
class Student:
  def __init__(self,name,branch):
    self.name= name
    self.branch = branch
    print(self.name)
    print(self.branch)


class B(Student):
  def __init__(self,greet, name, branch):
    self.greet = greet
    print(self.greet)
    super().__init__(name, branch)

b1= B("Hello!","Ridhimaa","CSE")

Hello!
Ridhimaa
CSE

# Class Methods

Problem:

In [ ]:
class Person:
  name= "anonymous"

  def changeName(self,name):
    self.name=name

p1 = Person()
p1.changeName("Ridhimaa")
print(p1.name)
print(Person.name)

Ridhimaa
anonymous

In [ ]:
class Person:
  name= "anonymous"

  def changeName(self,name):
    Person.name=name

p1 = Person()
p1.changeName("Ridhimaa")
print(p1.name)
print(Person.name)

Ridhimaa
Ridhimaa

In [ ]:
class Person:
  name= "anonymous"

  def changeName(self,name):
    self.__class__.name=name

p1 = Person()
p1.changeName("Ridhimaa")
print(p1.name)
print(Person.name)

Ridhimaa
Ridhimaa

Direct way to access a class

In [ ]:
class Person:
  name= "anonymous"

  @classmethod
  def changeName(cls,name):
    cls.name=name

p1 = Person()
p1.changeName("Ridhimaa")
print(p1.name)
print(Person.name)

Ridhimaa
Ridhimaa

# property

Problem:

In [ ]:
class Student:
  def __init__(self,phy,chem,math):
    self.phy=phy
    self.chem=chem
    self.math=math
    self.avg= str((self.phy+self.chem + self.math)/3) + "%"

stu1 = Student(98,97,99)
print(stu1.avg)
stu1.phy = 86
print(stu1.phy)
print(stu1.avg)

98.0%
86
98.0%

In [ ]:
class Student:
  def __init__(self,phy,chem,math):
    self.phy=phy
    self.chem=chem
    self.math=math
    self.avg= str((self.phy+self.chem + self.math)/3) + "%"

  def cal_avg(self):
    self.avg= str((self.phy+self.chem + self.math)/3) + "%"

stu1 = Student(98,97,99)
print(stu1.avg)
stu1.phy = 86
print(stu1.phy)
stu1.cal_avg()
print(stu1.avg)

98.0%
86
94.0%

In [ ]:
class Student:
  def __init__(self,phy,chem,math):
    self.phy=phy
    self.chem=chem
    self.math=math

  @property
  def cal_avg(self):
    return str((self.phy+self.chem + self.math)/3) + "%"

stu1 = Student(98,97,99)
print(stu1.cal_avg)
stu1.phy = 86
print(stu1.cal_avg)

98.0%
94.0%

# Polymorphism

In [ ]:
print(1+2)  #addition
print("hello!"+" Student") #concatenation
print([1,2,3]+[4,5,6]) #merge

3
hello! Student
[1, 2, 3, 4, 5, 6]

In [ ]:
a="hello!"
print(len(a))

6

In [ ]:
a=["apple","kiwi","orange"]
print(len(a))

3

In [ ]:
# 1i+4j
# 2i+6j
# -----------
# 3i+10j
# ------------

In [ ]:
# dunder
# + __add__
# - __sub__

In [ ]:
class Complex:
  def __init__(self, real, img):
    self.real=real
    self.img=img

  def showN(self):
    print(self.real,"i +",self.img,"j")

  def __add__(self, num2):
    newReal = self.real + num2.real
    newImg = self.img + num2.img
    return Complex(newReal, newImg)

num1 = Complex(1,3)
num1.showN()

num2 = Complex(5,3)
num2.showN()
print("-----------------")
# num3=num1.add(num2)
# num3.showN()
num3 = num1 + num2
num3.showN()

1 i + 3 j
5 i + 3 j
-----------------
6 i + 6 j

# Recursion

In [ ]:
# addition()
#   addition()

In [ ]:
def show(n):
  if (n==0):
    return
  print(n)
  show(n-1)
  print("End")

show(3)

3
2
1
End
End
End

In [ ]:
# returns n! 4!= 4*3*2*1
# 4!=3!*4
# 3!= 2!*3

In [ ]:
def fact(n):
  if (n==0 or n==1):
    return 1
  else:
    return n*fact(n-1)

fact(5)

120

In [ ]:
def sum_of_natural_nums(n):
    if n==100:
        return 0
    return sum_of_natural_nums(n+1)+n

f=sum_of_natural_nums(0)
print(f)

4950

In [ ]:
def sum_of_natural_nums(n):
    if n==0:
        return 0
    return sum_of_natural_nums(n-1)+n

f=sum_of_natural_nums(3)
print(f)

6

In [ ]:
def print_list(list1, idx=0):
  if idx == len(list1):
    return
  print(list1[idx])
  print_list(list1,idx + 1)

l1=["kiwi","orange","grapes","apple"]
print_list(l1)

kiwi
orange
grapes
apple

In [ ]:
def print_list(list1, idx=0):
    if idx == len(list1):
        return
    print(list1[idx])
    print_list(list1, idx + 1)

l1 = ["kiwi", "orange", "grapes", "apple"]
print_list(l1)

kiwi
orange
grapes
apple

In [ ]:
# Question 5
import math

class Shape:
  def area(self):
    pass

class Circle(Shape):
  def __init__(self,radius):
    self.radius=radius

  def area(self):
    return math.pi * self.radius**2

class Square(Shape):
  def __init__(self,side):
    self.side=side

  def area(self):
    return self.side**2

class Triangle(Shape):
  def __init__(self,base, height):
    self.base=base
    self.height=height

  def area(self):
    return 0.5 * self.base *self.height

def sort_shape(shapes):
  return sorted(shapes, key=lambda x:x.area())

c1 = Circle(3)
c2 = Circle(2)
s1= Square(4)
s2 = Square(3)
t = Triangle(4,5)
shapes = [c1,c2,s1,s2,t]
sorted_shape = sort_shape(shapes)

for shape in sorted_shape:
  print(f"shape: {type(shape).__name__}, Area: {shape.area()}")

shape: Square, Area: 9
shape: Triangle, Area: 10.0
shape: Circle, Area: 12.566370614359172
shape: Square, Area: 16
shape: Circle, Area: 28.274333882308138

In [ ]:
class Vehicle:
    def __init__(self, brand, model, year):
        self.brand = brand
        self.model = model
        self.year = year

    def calculate_rent(self):
        pass

class Car(Vehicle):
    def __init__(self, brand, model, year, rate_per_km, rate_per_day):
        super().__init__(brand, model, year)
        self.rate_per_km = rate_per_km
        self.rate_per_day = rate_per_day

    def calculate_rent(self, distance, duration):
        return (self.rate_per_km * distance) + (self.rate_per_day * duration)

class Bike(Vehicle):
    def __init__(self, brand, model, year, rate_per_km, rate_per_hour):
        super().__init__(brand, model, year)
        self.rate_per_km = rate_per_km
        self.rate_per_hour = rate_per_hour

    def calculate_rent(self, distance, duration):
        return (self.rate_per_km * distance) + (self.rate_per_hour * duration)

# class Car(Vehicle):
#     def __init__(self, brand, model, year, rate_per_km, rate_per_day):
#         super().__init__(brand, model, year)
#         self.rate_per_km = rate_per_km
#         self.rate_per_day = rate_per_day

#     def calculate_rent(self, distance, duration):
#         return (self.rate_per_km * distance) + (self.rate_per_day * duration)

car1 = Car("Toyota", "Corolla", 2020, 5, 50)
rent_car1 = car1.calculate_rent(100, 3)

bike1 = Bike("Honda", "CB...", 2020, 3, 10)
rent_bike1 = car1.calculate_rent(50, 5)
print("Rent of car:", rent_car1)
print("Rent of Bike:", rent_bike1)

Rent of car: 650
Rent of Bike: 500

In [ ]:
class Account():
    def __init__(self,balance=0):
        self.balance=balance

    def withdraw(self,amount):
      if self.balance >= amount:
        self.balance-=amount
        print(f"The amount is withdrawn: {self.balance}")
    def deposit(self,amount):
        self.balance+=amount
        print(f"The amount is deposited: {self.balance}")
class CheckingAccount(Account):
    def withdraw(self, amount):
        if self.balance>=amount:
          self.balance-=amount
          print(f"withdrew {amount}. new balance: {self.balance}")
        else:
          print("limit exceed")

class SavingsAccount(Account):
  def withdraw(self, amount):
    if self.balance+100>=amount:
      self.balance-=amount
      print(f"withdrew {amount}. new balance: {self.balance}")
    else:
      print("limit exceed")

class InvestmentAccount(Account):
  def withdraw(self, amount):
    if self.balance+100>=amount:
      self.balance-=amount
      print(f"withdrew {amount}. new balance: {self.balance}")
    else:
      print("limit exceed")

  def deposit(self, amount):
    if amount>=1000:
      super().deposit(amount)
    else:
      print("Minimun requirement is 1000")
c=CheckingAccount(500)
c.withdraw(300)
s=SavingsAccount(500)
s.withdraw(300)
i = InvestmentAccount(5000)
# i.withdraw(100)
i.deposit(1000)

withdrew 300. new balance: 200
withdrew 300. new balance: 200
The amount is deposited: 6000